In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("Competences_ORS (réponses).xlsx")

In [5]:
df.drop('Horodateur', inplace=True, axis=1)

In [6]:
df

,Full Name,Your skills,Explain what you can do,Show us an example of your work if you can
0,BOUKHALFA Mohamed Anis,"Web Dev, Design, Data Science, Video Editing, ...",kolch,NaN
1,djihane saidi,"Web Dev, Data Science, Public Speaking, Progra...",The project. Help in organization,NaN
2,kenai houssem eddine,Design,graphic design ( post story ...),https://drive.google.com/open?id=1fFC-obe-EwBZ...
3,Guerni Yousra,"Communication, Organization","Organiser ,travaille en équipe, je m'exprime b...",NaN
4,Hazem Brahimi,"Data Science, Programming","Data analysis, Machine learning using SKlearn,...",NaN
5,Lassal ania,"Communication, Public Speaking, Organization","Public speaking, presentingw ,giving insights ...",NaN
6,BENABDALLAH Billel,"Web Dev, Design, Programming",,NaN
7,Neufel kessar,"Video Editing, Photography, Social Media, Comm...",Taking pictures edit them\nFilming reels/stori...,NaN
8,Skender Abdallah,Programming,Programmation en Python,NaN
9,ADNANE Ayoub,"Programming, Organization",MATLAB et python,NaN
10,Amanzougaghene Thanina,"Design, Data Science, Organization",Disktop applications,NaN
11,Babouri sirine,Organization,Team work,NaN
12,Camelia Abouhi,"Photography, Social Media, Communication, Publ...",Skill1: I can take some good shots with a good...,NaN
13,SOFIA BENDIFALLAH,"Social Media, Organization",I can participate for the events organisation ...,NaN
14,Akila Bouazza,Programming,"Python, oop with Java, very basic web developm...",NaN

In [10]:
df[df['Your skills'].str.contains('Web Dev')]

,Full Name,Your skills,Explain what you can do,Show us an example of your work if you can
0,BOUKHALFA Mohamed Anis,"Web Dev, Design, Data Science, Video Editing, ...",kolch,NaN
1,djihane saidi,"Web Dev, Data Science, Public Speaking, Progra...",The project. Help in organization,NaN
6,BENABDALLAH Billel,"Web Dev, Design, Programming",,NaN